
body {
    /*background-image: url(Image/background.jpg);*/
    background: url(../Image/background.jpg);
    /*
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
    */
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

/*
Für responsive Tables
http://view.jquerymobile.com/swipe/docs/tables/index.html

mit .table-stripe funktionierts wohl irgendwie nicht ?!
*/

thead th {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
tbody th,
tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
/* Add alternating row stripes */
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: rgba(0,0,0,0.04);
}
/* Add stroke to the header and last item */
thead th,
tbody tr:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
