# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp


# NetBeans specific
nbproject/

# Project specific
doc/images/
config.php
danieltinney.sql
doc/.~lock.projektdokumenation-mensameter.odt#
doc/img/
